#first{
    background-image: url(domenico-loia-hGV2TfOh0ns-unsplash.jpg) ;
    background-size: cover;
    height: 550px;
}
h1{
    background-image: url(20221009_100725.jpg);
    background-size: cover;
    border-radius: 150px;
    height: 300px;
    width: 250px;
    margin-left:430px;
    margin-top: 70px;
    
}
h1:hover{
    background-image: url(IMG_4287.jpeg);
    cursor: pointer;
    transition: 3s;
}
/* a{
    /* position: relative; */
    /* left: 640px; */
    /* top: -70px; */

h2{
    text-align: center;
    animation: move 2s ease-in-out;
}
@keyframes move{
    0%{transform: translateX(-500px);}
}
h2:hover{
    cursor: pointer;
    color: yellow;
}
h3{
    text-align: center;
    animation: push 2s ease-in;
}
@keyframes push{
    0%{transform: translateX(500px);}
}
 h3:hover{
    cursor: pointer;
    color: yellowgreen;
}
#second{
    height: 200px;
}